{% block element_row -%}
    <div>
        {{- label(element, label, attr['id']|default(null), label_attr|default([])) -}}
        {{- element(element, attr|default([]), options|default([])) -}}
        {{- errors(element) -}}
    </div>
{%- endblock element_row %}

{% block hidden_row -%}
    {{- element(element, attr|default([])) -}}
    {{- errors(element) -}}
{%- endblock hidden_row %}

{% block checkbox_row -%}
    <div>
        {{- block('checkbox_label') -}}
        {{- errors(element) -}}
    </div>
{%- endblock checkbox_row %}

{% block radio_row -%}
    <div>
        {{- label(element, label, null, label_attr|default([])) -}}
        {{- element(element, attr|default([])) -}}
        {{- errors(element) -}}
    </div>
{%- endblock radio_row %}

{% block textarea -%}
    <textarea{{ block('attributes') }}>{{ value }}</textarea>
{%- endblock textarea %}

{% block checkbox_label -%}
    {%- set label_attr = label_attr|default([]) -%}
    <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
    {{- element(element, attr|default([])) -}}{{ label }}</label>
{%- endblock checkbox_label %}

{% block input -%}
    <input{{ block('attributes') }}>
{%- endblock input %}

{% block radio -%}
    {%- for value, label in choices -%}
        {% set attr = attr|merge({'value': value}) -%}
        <label><input{{ block('attributes') }}{% if element.isSelected(value) %} checked{% endif %}>{{ label }}</label>
    {%- endfor -%}
{%- endblock radio %}

{% block select -%}
    {%- if element.isMultiple -%}{% set attr = attr|merge({'name': attr.name ~ '[]'}) %}{%- endif -%}
    <select{{ block('attributes') }}{% if element.isMultiple %} multiple{% endif %}>
        {{- block('select_options') -}}
    </select>
{%- endblock select %}

{% block select_options -%}
    {% for group_label, choice in choices %}
        {%- if choice is iterable -%}
            <optgroup label="{{ group_label }}">
                {% set options = choice %}
                {{- block('select_options') -}}
            </optgroup>
        {%- else -%}
            <option value="{{ group_label }}"{% if element.isSelected(group_label) %} selected{% endif %}>{{ choice }}</option>
        {%- endif -%}
    {% endfor %}
{%- endblock select_options %}

{% block form_start -%}
    {%- if attr.method is not defined -%}{% set attr = attr|merge({'method': 'post'}) %}{%- endif -%}
    <form{{ block('attributes') }}>
{%- endblock form_start %}

{% block form_end -%}
    </form>
{%- endblock form_end %}

{% block label -%}
    <label{{ block('attributes') }}>{{ label }}</label>
{%- endblock label %}

{% block errors -%}
    {%- if errors|length > 0 -%}
        <ul>
            {%- for error in errors -%}
                <li>{{ error }}</li>
            {%- endfor -%}
        </ul>
    {%- endif %}
{%- endblock errors %}

{% block attributes -%}
    {%- for attrname, attrvalue in attr -%}
        {{- " " -}}
        {%- if attrvalue is sameas(true) -%}
            {{- attrname }}
        {%- elseif attrvalue is not sameas(false) -%}
            {{- attrname }}="{{ attrvalue }}"
        {%- endif -%}
    {%- endfor -%}
{%- endblock attributes %}
